In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [ ]:
df = pd.read_csv('tourism.csv')
df

FileNotFoundError: ignored

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

MessageError: ignored

In [ ]:
df = pd.concat([df,pd.get_dummies(df['AttractionType'])],axis=1)

In [ ]:
df

,AttractionType,AttractionsNearby,RestaurantsNearby,KidFriendlyscore,LowMobilityscore,SeniorCitizenscore,Adventure,Amusement,Historical,Shopping,Worship
0,Historical,27.666667,338.333333,6,3,4,0,0,1,0,0
1,Worship,43.833333,227.666667,4,6,8,0,0,0,0,1
2,Historical,48.666667,344.666667,6,4,5,0,0,1,0,0
3,Worship,46.666667,548.000000,4,5,8,0,0,0,0,1
4,Historical,46.666667,462.666667,7,7,7,0,0,1,0,0
5,Historical,49.166667,476.666667,7,5,6,0,0,1,0,0
6,Historical,39.000000,306.000000,6,5,7,0,0,1,0,0
7,Historical,38.666667,465.000000,7,6,7,0,0,1,0,0
8,Shopping,39.500000,472.000000,8,4,5,0,0,0,1,0
9,Adventure,41.500000,468.666667,7,3,4,1,0,0,0,0
10,Worship,9.600000,19.000000,4,7,9,0,0,0,0,1
11,Historical,479.800000,26.600000,6,4,5,0,0,1,0,0
12,Historical,337.600000,22.700000,7,3,6,0,0,1,0,0
13,Amusement,72.333333,7.333333,8,2,4,0,1,0,0,0
14,Historical,828.333333,38.333333,5,5,6,0,0,1,0,0
15,Amusement,774.333333,774.333333,7,6,8,0,1,0,0,0
16,Shopping,635.666667,635.666667,8,5,6,0,0,0,1,0
17,Historical,601.333333,601.333333,8,5,5,0,0,1,0,0
18,Shopping,806.666667,806.666667,8,5,6,0,0,0,1,0
19,Historical,828.000000,828.000000,7,4,8,0,0,1,0,0
20,Historical,23.333333,28.666667,5,4,6,0,0,1,0,0
21,Adventure,10.833333,16.666667,8,2,3,1,0,0,0,0
22,Adventure,17.333333,17.000000,8,2,3,1,0,0,0,0
23,Adventure,22.500000,28.666667,8,2,3,1,0,0,0,0
24,Historical,23.833333,28.666667,7,5,6,0,0,1,0,0
25,Historical,35.166667,491.333333,6,5,5,0,0,1,0,0
26,Worship,32.166667,618.333333,4,5,8,0,0,0,0,1
27,Historical,35.000000,474.333333,7,6,6,0,0,1,0,0
28,Historical,35.166667,490.333333,7,5,4,0,0,1,0,0
29,Historical,30.500000,164.333333,7,4,5,0,0,1,0,0
30,Worship,42.833333,897.333333,4,3,7,0,0,0,0,1
31,Amusement,42.333333,1160.000000,9,5,6,0,1,0,0,0
32,Amusement,1.166667,4.333333,10,3,2,0,1,0,0,0
33,Shopping,43.333333,1100.333333,4,7,5,0,0,0,1,0
34,Amusement,43.000000,938.333333,9,4,7,0,1,0,0,0
35,Adventure,34.500000,773.666667,9,4,3,1,0,0,0,0
36,Historical,43.333333,1000.000000,8,9,9,0,0,1,0,0
37,Shopping,43.500000,1151.666667,7,5,3,0,0,0,1,0
38,Shopping,43.166667,1001.333333,6,5,4,0,0,0,1,0
39,Worship,41.500000,823.333333,5,5,9,0,0,0,0,1
40,Worship,58.500000,763.333333,5,6,9,0,0,0,0,1
41,Amusement,8.333333,59.666667,10,7,2,0,1,0,0,0
42,Adventure,53.000000,585.333333,9,5,5,1,0,0,0,0
43,Adventure,46.500000,265.666667,9,4,4,1,0,0,0,0
44,Worship,54.166667,510.000000,4,8,8,0,0,0,0,1
45,Shopping,58.166667,792.333333,8,5,4,0,0,0,1,0
46,Worship,8.333333,61.000000,6,8,9,0,0,0,0,1
47,Historical,55.666667,621.333333,7,5,8,0,0,1,0,0
48,Worship,54.500000,618.666667,4,6,8,0,0,0,0,1
49,Amusement,8.166667,58.333333,9,4,3,0,1,0,0,0
50,Historical,31.500000,420.333333,8,6,6,0,0,1,0,0
51,Adventure,33.000000,554.333333,8,7,7,1,0,0,0,0
52,Shopping,35.833333,724.333333,7,4,3,0,0,0,1,0
53,Worship,40.166667,636.666667,8,8,8,0,0,0,0,1
54,Historical,34.833333,574.666667,8,7,8,0,0,1,0,0
55,Amusement,26.500000,476.333333,10,6,6,0,1,0,0,0
56,Shopping,31.500000,429.333333,6,5,5,0,0,0,1,0
57,Historical,26.640000,124.780000,9,4,4,0,0,1,0,0
58,Shopping,31.833333,497.333333,7,3,3,0,0,0,1,0
59,Historical,16.500000,194.333333,6,9,9,0,0,1,0,0

In [ ]:
df.drop(['AttractionType'],axis=1,inplace=True)
df

# "AttractionsNearby":20	"RestaurantsNearby":5	"Adventure":1	"Amusement":0	"Historical":0	"Shopping":0	"Worship":0

,AttractionsNearby,RestaurantsNearby,KidFriendlyscore,LowMobilityscore,SeniorCitizenscore,Adventure,Amusement,Historical,Shopping,Worship
0,27.666667,338.333333,6,3,4,0,0,1,0,0
1,43.833333,227.666667,4,6,8,0,0,0,0,1
2,48.666667,344.666667,6,4,5,0,0,1,0,0
3,46.666667,548.000000,4,5,8,0,0,0,0,1
4,46.666667,462.666667,7,7,7,0,0,1,0,0
5,49.166667,476.666667,7,5,6,0,0,1,0,0
6,39.000000,306.000000,6,5,7,0,0,1,0,0
7,38.666667,465.000000,7,6,7,0,0,1,0,0
8,39.500000,472.000000,8,4,5,0,0,0,1,0
9,41.500000,468.666667,7,3,4,1,0,0,0,0
10,9.600000,19.000000,4,7,9,0,0,0,0,1
11,479.800000,26.600000,6,4,5,0,0,1,0,0
12,337.600000,22.700000,7,3,6,0,0,1,0,0
13,72.333333,7.333333,8,2,4,0,1,0,0,0
14,828.333333,38.333333,5,5,6,0,0,1,0,0
15,774.333333,774.333333,7,6,8,0,1,0,0,0
16,635.666667,635.666667,8,5,6,0,0,0,1,0
17,601.333333,601.333333,8,5,5,0,0,1,0,0
18,806.666667,806.666667,8,5,6,0,0,0,1,0
19,828.000000,828.000000,7,4,8,0,0,1,0,0
20,23.333333,28.666667,5,4,6,0,0,1,0,0
21,10.833333,16.666667,8,2,3,1,0,0,0,0
22,17.333333,17.000000,8,2,3,1,0,0,0,0
23,22.500000,28.666667,8,2,3,1,0,0,0,0
24,23.833333,28.666667,7,5,6,0,0,1,0,0
25,35.166667,491.333333,6,5,5,0,0,1,0,0
26,32.166667,618.333333,4,5,8,0,0,0,0,1
27,35.000000,474.333333,7,6,6,0,0,1,0,0
28,35.166667,490.333333,7,5,4,0,0,1,0,0
29,30.500000,164.333333,7,4,5,0,0,1,0,0
30,42.833333,897.333333,4,3,7,0,0,0,0,1
31,42.333333,1160.000000,9,5,6,0,1,0,0,0
32,1.166667,4.333333,10,3,2,0,1,0,0,0
33,43.333333,1100.333333,4,7,5,0,0,0,1,0
34,43.000000,938.333333,9,4,7,0,1,0,0,0
35,34.500000,773.666667,9,4,3,1,0,0,0,0
36,43.333333,1000.000000,8,9,9,0,0,1,0,0
37,43.500000,1151.666667,7,5,3,0,0,0,1,0
38,43.166667,1001.333333,6,5,4,0,0,0,1,0
39,41.500000,823.333333,5,5,9,0,0,0,0,1
40,58.500000,763.333333,5,6,9,0,0,0,0,1
41,8.333333,59.666667,10,7,2,0,1,0,0,0
42,53.000000,585.333333,9,5,5,1,0,0,0,0
43,46.500000,265.666667,9,4,4,1,0,0,0,0
44,54.166667,510.000000,4,8,8,0,0,0,0,1
45,58.166667,792.333333,8,5,4,0,0,0,1,0
46,8.333333,61.000000,6,8,9,0,0,0,0,1
47,55.666667,621.333333,7,5,8,0,0,1,0,0
48,54.500000,618.666667,4,6,8,0,0,0,0,1
49,8.166667,58.333333,9,4,3,0,1,0,0,0
50,31.500000,420.333333,8,6,6,0,0,1,0,0
51,33.000000,554.333333,8,7,7,1,0,0,0,0
52,35.833333,724.333333,7,4,3,0,0,0,1,0
53,40.166667,636.666667,8,8,8,0,0,0,0,1
54,34.833333,574.666667,8,7,8,0,0,1,0,0
55,26.500000,476.333333,10,6,6,0,1,0,0,0
56,31.500000,429.333333,6,5,5,0,0,0,1,0
57,26.640000,124.780000,9,4,4,0,0,1,0,0
58,31.833333,497.333333,7,3,3,0,0,0,1,0
59,16.500000,194.333333,6,9,9,0,0,1,0,0

In [ ]:

X = df.drop(['KidFriendlyscore','LowMobilityscore','SeniorCitizenscore'],axis=1).values
X

array([[2.76666667e+01, 3.38333333e+02, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [4.38333333e+01, 2.27666667e+02, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [4.86666667e+01, 3.44666667e+02, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [4.66666667e+01, 5.48000000e+02, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [4.66666667e+01, 4.62666667e+02, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [4.91666667e+01, 4.76666667e+02, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [3.90000000e+01, 3.06000000e+02, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [3.86666667e+01, 4.65000000e+02, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [3.95000000e+01, 4.72000000e+02, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [4.15000000e+01, 4.68666667e+02, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [9.60000000e+00, 1.90000000e+01, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [4.79800000e+02, 2.66000000e+01, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [3.37600000e+02, 2.27000000e+01, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [7.23333333e+01, 7.33333333e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [8.28333333e+02, 3.83333333e+01, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [7.74333333e+02, 7.74333333e+02, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [6.35666667e+02, 6.35666667e+02, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [6.01333333e+02, 6.01333333e+02, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [8.06666667e+02, 8.06666667e+02, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [8.28000000e+02, 8.28000000e+02, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [2.33333333e+01, 2.86666667e+01, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.08333333e+01, 1.66666667e+01, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.73333333e+01, 1.70000000e+01, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [2.25000000e+01, 2.86666667e+01, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [2.38333333e+01, 2.86666667e+01, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [3.51666667e+01, 4.91333333e+02, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [3.21666667e+01, 6.18333333e+02, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [3.50000000e+01, 4.74333333e+02, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [3.51666667e+01, 4.90333333e+02, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [3.05000000e+01, 1.64333333e+02, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [4.28333333e+01, 8.97333333e+02, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [4.23333333e+01, 1.16000000e+03, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [1.16666667e+00, 4.33333333e+00, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [4.33333333e+01, 1.10033333e+03, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [4.30000000e+01, 9.38333333e+02, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [3.45000000e+01, 7.73666667e+02, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [4.33333333e+01, 1.00000000e+03, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [4.35000000e+01, 1.15166667e+03, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [4.31666667e+01, 1.00133333e+03, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [4.15000000e+01, 8.23333333e+02, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [5.85000000e+01, 7.63333333e+02, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [8.33333333e+00, 5.96666667e+01, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [5.30000000e+01, 5.85333333e+02, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [4.65000000e+01, 2.65666667e+02, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [5.41666667e+01, 5.10000000e+02, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [5.81666667e+01, 7.92333333e+02, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [8.33333333e+00, 6.10000000e+01, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [5.56666667e+01, 6.21333333e+02, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [5.45000000e+01, 6.18666667e+02, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [8.16666667e+00, 5.83333333e+01, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [3.15000000e+01, 4.20333333e+02, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [3.30000000e+01, 5.54333333e+02, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [3.58333333e+01, 7.24333333e+02, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [4.01666667e+01, 6.36666667e+02, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [3.48333333e+01, 5.74666667e+02, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [2.65000000e+01, 4.76333333e+02, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [3.15000000e+01, 4.29333333e+02, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [2.66400000e+01, 1.24780000e+02, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [3.18333333e+01, 4.97333333e+02, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [1.65000000e+01, 1.94333333e+02, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00, 0.00000000e+00, 0.00000000e+00]])

In [ ]:
y = df[['KidFriendlyscore','LowMobilityscore','SeniorCitizenscore']].values
y

array([[ 6,  3,  4],
       [ 4,  6,  8],
       [ 6,  4,  5],
       [ 4,  5,  8],
       [ 7,  7,  7],
       [ 7,  5,  6],
       [ 6,  5,  7],
       [ 7,  6,  7],
       [ 8,  4,  5],
       [ 7,  3,  4],
       [ 4,  7,  9],
       [ 6,  4,  5],
       [ 7,  3,  6],
       [ 8,  2,  4],
       [ 5,  5,  6],
       [ 7,  6,  8],
       [ 8,  5,  6],
       [ 8,  5,  5],
       [ 8,  5,  6],
       [ 7,  4,  8],
       [ 5,  4,  6],
       [ 8,  2,  3],
       [ 8,  2,  3],
       [ 8,  2,  3],
       [ 7,  5,  6],
       [ 6,  5,  5],
       [ 4,  5,  8],
       [ 7,  6,  6],
       [ 7,  5,  4],
       [ 7,  4,  5],
       [ 4,  3,  7],
       [ 9,  5,  6],
       [10,  3,  2],
       [ 4,  7,  5],
       [ 9,  4,  7],
       [ 9,  4,  3],
       [ 8,  9,  9],
       [ 7,  5,  3],
       [ 6,  5,  4],
       [ 5,  5,  9],
       [ 5,  6,  9],
       [10,  7,  2],
       [ 9,  5,  5],
       [ 9,  4,  4],
       [ 4,  8,  8],
       [ 8,  5,  4],
       [ 6,  8,  9],
       [ 7,  5,  8],
       [ 4,  6,  8],
       [ 9,  4,  3],
       [ 8,  6,  6],
       [ 8,  7,  7],
       [ 7,  4,  3],
       [ 8,  8,  8],
       [ 8,  7,  8],
       [10,  6,  6],
       [ 6,  5,  5],
       [ 9,  4,  4],
       [ 7,  3,  3],
       [ 6,  9,  9]])

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=32)
X_train, X_test, y_train, y_test

(array([[3.95000000e+01, 4.72000000e+02, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [4.86666667e+01, 3.44666667e+02, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [8.16666667e+00, 5.83333333e+01, 0.00000000e+00, 1.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [5.41666667e+01, 5.10000000e+02, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
        [4.31666667e+01, 1.00133333e+03, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [8.33333333e+00, 5.96666667e+01, 0.00000000e+00, 1.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [4.15000000e+01, 8.23333333e+02, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
        [6.35666667e+02, 6.35666667e+02, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [5.45000000e+01, 6.18666667e+02, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
        [5.56666667e+01, 6.21333333e+02, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [8.28333333e+02, 3.83333333e+01, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [3.90000000e+01, 3.06000000e+02, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [1.16666667e+00, 4.33333333e+00, 0.00000000e+00, 1.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [2.76666667e+01, 3.38333333e+02, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [7.74333333e+02, 7.74333333e+02, 0.00000000e+00, 1.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [4.28333333e+01, 8.97333333e+02, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
        [3.15000000e+01, 4.20333333e+02, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [3.05000000e+01, 1.64333333e+02, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [3.21666667e+01, 6.18333333e+02, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
        [5.85000000e+01, 7.63333333e+02, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
        [4.33333333e+01, 1.10033333e+03, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [8.33333333e+00, 6.10000000e+01, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
        [7.23333333e+01, 7.33333333e+00, 0.00000000e+00, 1.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [2.66400000e+01, 1.24780000e+02, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [4.33333333e+01, 1.00000000e+03, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [2.33333333e+01, 2.86666667e+01, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [9.60000000e+00, 1.90000000e+01, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
        [8.06666667e+02, 8.06666667e+02, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [2.65000000e+01, 4.76333333e+02, 0.00000000e+00, 1.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [3.45000000e+01, 7.73666667e+02, 1.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [4.30000000e+01, 9.38333333e+02, 0.00000000e+00, 1.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [4.38333333e+01, 2.27666667e+02, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
        [3.30000000e+01, 5.54333333e+02, 1.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [6.01333333e+02, 6.01333333e+02, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [4.79800000e+02, 2.66000000e+01, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [4.66666667e+01, 4.62666667e+02, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [4.15000000e+01, 4.68666667e+02, 1.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [5.30000000e+01, 5.85333333e+02, 1.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [4.35000000e+01, 1.15166667e+03, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [4.66666667e+01, 5.48000000e+02, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
        [3.51666667e+01, 4.91333333e+02, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [3.86666667e+01, 4.65000000e+02, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [8.28000000e+02, 8.28000000e+02, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [2.38333333e+01, 2.86666667e+01, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [3.48333333e+01, 5.74666667e+02, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [4.91666667e+01, 4.76666667e+02, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [4.65000000e+01, 2.65666667e+02, 1.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [2.25000000e+01, 2.86666667e+01, 1.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00]]),
 array([[5.81666667e+01, 7.92333333e+02, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [3.37600000e+02, 2.27000000e+01, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [1.65000000e+01, 1.94333333e+02, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [3.58333333e+01, 7.24333333e+02, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [1.08333333e+01, 1.66666667e+01, 1.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [4.01666667e+01, 6.36666667e+02, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 1.00000000e+00],
        [3.15000000e+01, 4.29333333e+02, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [3.18333333e+01, 4.97333333e+02, 0.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
        [3.51666667e+01, 4.90333333e+02, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [1.73333333e+01, 1.70000000e+01, 1.00000000e+00, 0.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [3.50000000e+01, 4.74333333e+02, 0.00000000e+00, 0.00000000e+00,
         1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
        [4.23333333e+01, 1.16000000e+03, 0.00000000e+00, 1.00000000e+00,
         0.00000000e+00, 0.00000000e+00, 0.00000000e+00]]),
 array([[ 8,  4,  5],
        [ 6,  4,  5],
        [ 9,  4,  3],
        [ 4,  8,  8],
        [ 6,  5,  4],
        [10,  7,  2],
        [ 5,  5,  9],
        [ 8,  5,  6],
        [ 4,  6,  8],
        [ 7,  5,  8],
        [ 5,  5,  6],
        [ 6,  5,  7],
        [10,  3,  2],
        [ 6,  3,  4],
        [ 7,  6,  8],
        [ 4,  3,  7],
        [ 8,  6,  6],
        [ 7,  4,  5],
        [ 4,  5,  8],
        [ 5,  6,  9],
        [ 4,  7,  5],
        [ 6,  8,  9],
        [ 8,  2,  4],
        [ 9,  4,  4],
        [ 8,  9,  9],
        [ 5,  4,  6],
        [ 4,  7,  9],
        [ 8,  5,  6],
        [10,  6,  6],
        [ 9,  4,  3],
        [ 9,  4,  7],
        [ 4,  6,  8],
        [ 8,  7,  7],
        [ 8,  5,  5],
        [ 6,  4,  5],
        [ 7,  7,  7],
        [ 7,  3,  4],
        [ 9,  5,  5],
        [ 7,  5,  3],
        [ 4,  5,  8],
        [ 6,  5,  5],
        [ 7,  6,  7],
        [ 7,  4,  8],
        [ 7,  5,  6],
        [ 8,  7,  8],
        [ 7,  5,  6],
        [ 9,  4,  4],
        [ 8,  2,  3]]),
 array([[8, 5, 4],
        [7, 3, 6],
        [6, 9, 9],
        [7, 4, 3],
        [8, 2, 3],
        [8, 8, 8],
        [6, 5, 5],
        [7, 3, 3],
        [7, 5, 4],
        [8, 2, 3],
        [7, 6, 6],
        [9, 5, 6]]))

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X,y)

LinearRegression()

In [ ]:
print(model.predict([[4.23, 1.16, 0, 1,0, 0, 0]]))
print((np.round(model.predict([[4.23, 1.16, 0, 1,0, 0, 0]]))).astype(int))

[[8.970805   4.08095747 3.7438761 ]]
[[9 4 4]]

In [ ]:
from sklearn.metrics import classification_report
y_pred = (np.round(model.predict(X_test))).astype(int)
for i in range(len(y_test)):
  print(y_test[i], y_pred[i])

[8 5 4] [7 5 4]
[7 3 6] [7 5 6]
[6 9 9] [7 5 6]
[7 4 3] [7 5 4]
[8 2 3] [8 3 3]
[8 8 8] [5 6 8]
[6 5 5] [7 4 4]
[7 3 3] [7 5 4]
[7 5 4] [7 5 6]
[8 2 3] [8 3 3]
[7 6 6] [7 5 6]
[9 5 6] [9 6 6]

In [ ]:
from numpy import absolute, mean, std
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
n_scores = cross_val_score(model, X_test, y_test, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
n_scores = absolute(n_scores)
print('MAE: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

MAE: 2.690 (4.046)

In [ ]:
import joblib
filename = "Tourism_model.joblib"
joblib.dump(model, filename)

['Tourism_model.joblib']